@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    display: flex;
    justify-content: center;
}
div{
    text-align: center;
    /*border: 1px solid black;*/
    padding-top: 20%;
}